/**
 *  Common CSS for the demos.
 *
 *  Author: Mar Alguacil
 */

/* Definition of main variables */
:root {
    --main-color: #4099DD;
}


/*---------------- General configuration ----------------*/
body {
    background: #EEF6FC; /*#CBE4F6*/
}

.no-display {
    display: none;
}

.inline {
    display: inline-block;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-topbottom {
    margin: 2% auto;
}

.sub-container {
    display: inline-block;
    margin: 0 1.5%;
}

.add-basic {
    color: var(--main-color);
    background: #CBE4F6;
    font-size: 50px;
    border: 4px dashed var(--main-color);
    border-radius: 4px;
    flex-direction: column;
    text-align: center;
}

.fake-basic {
    color: var(--main-color);
    background: white;
    border: 3px solid var(--main-color);
    border-radius: 4px;
}


/*---------------- Icons ----------------*/
.icon-style:after {
    content: '\2766';
    font-size: 4vmax;
}

.icon-fake {
    height:5vmax;
    width:5vmax;

    background-image: url('/static/images/icon-fake.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-loading {
    height:10vmax;
}


.button-fake {
    height:6vmax;
    width:6vmax;

    background-color: white;
    background-image: url('/static/images/arrow-blue.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;

    border: 4px solid #4099DD;/*#4CAF50;*/
    border-radius: 20%;
}
.button-fake:hover {
    background-color: #F4F5F6;
}


/*---------------- Fixed text ----------------*/
.style-info {
    font-size: 1.5vmax;
    margin: -1.2vmax 0 0 0;
    font-weight: bold;
}

.style-info-click {
    font-size: 1vmax;
    margin: 0;
}


@media(min-width: 730px) {
    /*---------------- Interactive info text ----------------

       Credit: https://www.w3docs.com/snippets/css/how-to-display-an-animated-text-over-an-image-on-hover-using-only-css3.html
    */
    .display-text {
        position: relative;
        padding: 0;
        cursor: pointer;
        overflow: hidden;
    }

    .content {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        color: white; /*#2586D0;*/
        background-color: rgba(200, 200, 200, 0.5);
        -webkit-transition: all 400ms ease-out;
        -moz-transition: all 400ms ease-out;
        -o-transition: all 400ms ease-out;
        -ms-transition: all 400ms ease-out;
        transition: all 400ms ease-out;
        text-align: center;
    }

    .display-text .content:hover {
        opacity: 1;
    }
    .display-text .content .text {
        height: 0;
        opacity: 1;
        transition-delay: 0s;
        transition-duration: 0.4s;
    }

    .display-text .content:hover .text {
        opacity: 1;
        transform: translateY(var(--y));
        -webkit-transform: translateY(var(--y));
    }
    /* Segmentation map text */
    .segmap-text {
        --y: 21vmax;
        font-size: 2vmax;
        height: 30vmax;
        width: 30vmax;
        width-min: 256px;
    }
    /* Style image text */
    .style-text {
        --y: 8vmax;
        font-size: 1.5vmax;
        height: 12vmax;
        width: 20vmax;
    }
}

@media(max-width: 730px) {
    .container {
        flex-direction: column;
    }

    /*---------------- Icons ----------------*/
    .icon-style:after {
        font-size: 12vmin;
    }

    .icon-fake {
        height: 15vmin;
        width: 15vmin;
    }

    .icon-loading {
        height: 20vmin;
    }


    .button-fake {
        height: 15vmin;
        width: 15vmin;

        background-image: url('/static/images/arrow-down-blue.png');
    }

    /*---------------- Fixed text ----------------*/
    .style-info {
        font-size: 4vmin;
        margin: -2vmin 0 0 0;
    }

    .style-info-click {
        font-size: 3vmin;
    }

    /*---------------- Interactive text  ----------------*/
    .text {
        display: None;
    }
}

