<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Semantic Image Synthesis</title>

    <link rel="shortcut icon" href="/static/images/favicon-blue.ico" type="image/x-icon">

    <!-- Bootstrap 4 -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>


    {% block head %}
    {% endblock %}
  </head>

{% block body %}
  <body>
{% endblock %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('home') }}">
        <img src="{{url_for('static', filename='images/logo-img.png')}}" width="40" height="40" alt="">
        <img src="{{url_for('static', filename='images/logo-name.png')}}" width="120" height="20" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          {% block home_navitem %}
          <li class="nav-item">
          {% endblock %}
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
          </li>
          {% block staticdemo_navitem %}
          <li class="nav-item">
          {% endblock %}
            <a class="nav-link" href="{{ url_for('staticDemo') }}">Static Demo</a>
          </li>
          {% block interactivedemo_navitem %}
          <li class="nav-item">
          {% endblock %}
            <a class="nav-link" href="{{ url_for('interactiveDemo') }}">Interactive Demo</a>
          </li>
          {% block about_navitem %}
          <li class="nav-item">
          {% endblock %}
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
          </li>
        </ul>
      </div>
    </nav>


      {% block content %}
      {% endblock %}
  </body>
</html>
