<!DOCTYPE html>
{% extends "layout.html" %}

{% block head %}
    <!-- Font Awesome 5 Icons -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/demos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/static-demo.css') }}">
{% endblock %}

{% block staticdemo_navitem %}
<li class="nav-item active">
{% endblock %}

{% block content %}
<!--
<center>
    <h1>Static Demo</h1>
</center>
-->

<div class="container margin-topbottom" id="messages-staticdemo">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message }}
    </div>
    {% endfor %}
</div>


<div class="container">
    <form class="container" action="/staticdemo" method="POST" enctype="multipart/form-data" name="form-data">
        <div class="sub-container">
            <div class="add-basic container dim-img display-text" id="add-segmap-staticdemo">
                <span id="span-segmap-staticdemo">
                    <div class="icon-segmap"></div>

                    <p class="segmap-info"> Add Segmentation Map </p>
                    <p class="segmap-info-click">
                        Click here to choose a image file <br>
                        (PNG or JPG/JPEG files only)
                    </p>
                </span>

                <div class="segmap-text content">
                    <div class="text">Click to upload <br> segmentation map</div>
                </div>
            </div>

            <input type="file" class="no-display" id="upload-segmap-staticdemo" name="file_segmap">
        </div>

        <div class="sub-container">
            <div class="add-basic container dim-style-container display-text" id="add-style-staticdemo">
                <span id="span-style-staticdemo">
                    <i class="icon-style"></i>

                    <p class="style-info"> Add Style Image </p>
                    <p class="style-info-click">
                        Click here to choose a image file <br>
                        (PNG or JPG/JPEG files only)
                    </p>
                </span>

                <div class="style-text content">
                    <div class="text">Click to upload style image</div>
                </div>
            </div>
            <input type="file" class="no-display" id="upload-style-staticdemo" name="file_style">

            <div class="dim-generate container">
                <button type="button" class="button-fake" onclick="generateFakeImage('staticdemo')"
                        data-toggle="tooltip" data-placement="bottom"
                        title="Click here to generate the photorealistic image"/>
            </div>
        </div>
    </form>

    <div class="sub-container">
        <div class="fake-basic container dim-img">
            <span id="fake-img-staticdemo"><div class="icon-fake"></div></span>
        </div>
    </div>
</div>

<!-- SCRIPTS -->
<script src="{{url_for('static', filename='js/demos.js')}}"></script>
<script src="{{url_for('static', filename='js/static-demo.js')}}"></script>
{% endblock %}
